# Imports

In [1]:
import pandas as pd

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Functions

In [3]:
# Print rapido para dimensão do Dataframe
def SZ(df):
    print(f"""
--- Dimensão ---
Linhas:  {df.shape[0]}
Colunas: {df.shape[1]}""")

In [4]:
# Print rapido para dTypes do Dataframe
def DT(df):
    print(f"""
--- DataTypes ---
{df.dtypes}
    """)

# Reading Files

In [5]:
# df_datatran2020 = pd.read_csv("../dataset/datatran2020.csv", delimiter=";", encoding='iso-8859-1')
df_datatran2019 = pd.read_csv("../dataset/datatran2019.csv", delimiter=";", encoding='iso-8859-1')
df_datatran2018 = pd.read_csv("../dataset/datatran2018.csv", delimiter=";", encoding='iso-8859-1')
df_datatran2017 = pd.read_csv("../dataset/datatran2017.csv", delimiter=";", encoding='iso-8859-1')
df_datatran2016 = pd.read_csv("../dataset/datatran2016.csv", delimiter=";", encoding='iso-8859-1')
df_datatran2015 = pd.read_csv("../dataset/datatran2015.csv", delimiter=";", encoding='iso-8859-1')

In [9]:
df_datatran = pd.concat([df_datatran2015, df_datatran2016, df_datatran2017, df_datatran2018, df_datatran2019])

df_datatran['data_inversa'] = pd.to_datetime(df_datatran['data_inversa'])

df_datatran[['latitude', 'longitude']] = df_datatran[['latitude', 'longitude']].apply(lambda x: x.str.replace(',','.'))
df_datatran['latitude'] = df_datatran['latitude'].astype('float64')
df_datatran['longitude'] = df_datatran['longitude'].astype('float64')

SZ(df_datatran)
DT(df_datatran)

--- Dimensão ---
Linhas:  444828
Colunas: 31

--- DataTypes ---
id                               float64
data_inversa              datetime64[ns]
dia_semana                        object
horario                           object
uf                                object
br                               float64
km                                object
municipio                         object
causa_acidente                    object
tipo_acidente                     object
classificacao_acidente            object
fase_dia                          object
sentido_via                       object
condicao_metereologica            object
tipo_pista                        object
tracado_via                       object
uso_solo                          object
ano                              float64
pessoas                            int64
mortos                             int64
feridos_leves                      int64
feridos_graves                     int64
ilesos                             int64
ignorados                          int64
feridos                            int64
veiculos                           int64
latitude                         float64
longitude                        float64
regional                          object
delegacia                         object
uop                               object
dtype: object

In [10]:
df_datatran.head()

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,83298209.0,2015-01-01,Quinta,00:05:00,RJ,101.0,327,NITEROI,Outras,Colisão traseira,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
1,83298218.0,2015-01-01,Quinta,01:20:00,MS,163.0,434.4,CAMPO GRANDE,Animais na Pista,Saída de Pista,...,0,1,0,1,1,NaN,NaN,NaN,NaN,NaN
2,83298220.0,2015-01-01,Quinta,01:45:00,RJ,40.0,64,PETROPOLIS,Outras,Colisão com objeto fixo,...,0,2,0,0,2,NaN,NaN,NaN,NaN,NaN
3,83298221.0,2015-01-01,Quinta,02:50:00,SC,101.0,356.1,SANGAO,Falta de atenção,Saída de Pista,...,0,0,0,4,1,NaN,NaN,NaN,NaN,NaN
4,83298222.0,2015-01-01,Quinta,02:50:00,RS,101.0,25.9,TRES CACHOEIRAS,Falta de atenção,Saída de Pista,...,0,1,0,0,1,NaN,NaN,NaN,NaN,NaN

# Data Processing

In [11]:
string_columns = ['dia_semana', 
                  'causa_acidente',
                  'tipo_acidente',
                  'classificacao_acidente',
                  'fase_dia',
                  'sentido_via',
                  'condicao_metereologica',
                  'tipo_pista',
                  'tracado_via',
                  'uso_solo',
                  'regional',
                  'delegacia',
                  'uop']

df_datatran[string_columns] = df_datatran[string_columns].apply(
    lambda x: x.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.
    decode('utf-8').str.replace('[^\w\s]', '').str.lower().str.strip())

In [12]:
df_datatran[string_columns] = df_datatran[string_columns].fillna('')
df_datatran[string_columns] = df_datatran[string_columns].replace('null', '')

In [13]:
df_datatran.to_csv('../output/datatran_processed.csv', index=False, encoding='iso-8859-1')

# Exploratory Analysis

In [ ]:
df_datatran[['pessoas', 'mortos', 'feridos_leves', 'feridos_graves', 'ilesos', 'ignorados', 'feridos', 'veiculos']].describe()

In [ ]:
df_datatran.head()

In [ ]:
df_datatran_causa_acidente_count = df_datatran.groupby(['causa_acidente'])['id'].count().reset_index()

df_datatran_causa_acidente_count.set_index('causa_acidente', inplace=True)

In [ ]:
df_datatran_causa_acidente_count.sort_values(by='id', ascending=True).plot(kind='barh', figsize=(10,10))